@import "./App.scss";

:root {
  --background-color: #fff8f4;
  --first-color: #bb9135;
  --secondary-color: #b46a74;
  --third-color: #64315d;
  --font-color1: #371732;
  --font-color2: #fff8f4;
  --font1: "Boulder", serif;
  --font2: "Breathing", serif;
  --font3: "Barlow", serif;
}
