#formationPic {
  height: 100%;
  margin: 20px 10px;
  padding: 20px;
  background-color: var(--third-color);
  color: var(--font-color2);
  object-fit: cover;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.tcPicture {
  height: 90%;
  object-fit: cover;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  transition: all 0.5s ease;
  &:hover {
    transform: scale(1.1);
  }
}

#formation,
#temoignages {
  margin-top: 100px;
}

#therapeute {
  p {
    background: url("../assets/Background/12.png") no-repeat center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

@media only screen and (min-width: 750px) {
  #formationPic {
    width: 50%;
    padding: 40px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #therapeute {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    p {
      background: var(--background-color);
    }
  }
  .Me {
    .genericParagraph {
      width: 50%;
    }
  }
}
